*{
    margin: 0;
    padding: 0;
    border: none;
    font-family: 'Roboto Mono', monospace;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    height: 100vh;
    max-width: 100%;
}

.box {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 15px;
    width: 300px;
    padding: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

.btn{
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.question{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    text-align: center;

    font-size: 20px;       
}

#start {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    padding: 10px 24px;
    font-size: 18px;
    border-radius: 20px;
    cursor: pointer;
}

.input {
    display: flex;
    align-items: center;
    justify-content: center; 
    padding: 20px 0px;
}

#textarea {
    border: 2px solid black;
}

.chosenbox {
    border-radius: 20px;
    font-size: 28px;
    margin-bottom: 80px;
    padding: 0px 20px;
    text-align: center;
}

.js-example-basic-multiple{
    width: 200px !important;
}